  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

  :root {
      --color-primary: #6C9BCF;
      --color-danger: #FF0060;
      --color-success: #1B9C85;
      --color-warning: #F7D060;
      --color-white: #fff;
      --color-info-dark: #7d8da1;
      --color-dark: #363949;
      --color-light: rgba(132, 139, 200, 0.18);
      --color-dark-variant: #677483;
      --color-background: #f6f6f9;

      --card-border-radius: 2rem;
      --border-radius-1: 0.4rem;
      --border-radius-2: 1.2rem;

      --card-padding: 1.8rem;
      --padding-1: 1.2rem;

      --box-shadow: 0 2rem 3rem var(--color-light);
  }

  .dark-mode-variables {
      --color-background: #181a1e;
      --color-white: #202528;
      --color-dark: #edeffd;
      --color-dark-variant: #a3bdcc;
      --color-light: rgba(0, 0, 0, 0.4);
      --box-shadow: 0 2rem 3rem var(--color-light);
  }

  * {
      margin: 0;
      padding: 0;
      outline: 0;
      appearance: 0;
      text-decoration: none;
      box-sizing: border-box;
  }

  html {
      width: 100vw;
      height: 100vh;
      font-family: 'Roboto', sans-serif;
      user-select: none;
      overflow-x: hidden;
      color: var(--color-dark);
      background-color: var(--color-background);
  }

  a {
      color: var(--color-dark)
  }

  img {
      display: block;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
  }

  h1 {
      font-weight: 600;
      font-size: 1.8rem;
  }

  h2 {
      font-weight: 600;
      font-size: 1.4rem;
  }

  h3 {
      font-weight: 500;
      font-size: 0.87rem;
  }

  small {
      font-size: 0.76rem;
  }

  .mint-title {
      color: #80d7b4;
  }

  p {
      color: var(--color-dark-variant);
  }

  b {
      color: var(--color-dark);
  }

  .text-muted {
      color: var(--color-info-dark);
  }

  .primary {
      color: var(--color-primary);
  }


  .success {
      color: var(--color-success);
  }

  .warning {
      color: var(--color-warning);
  }

  .container {
      display: grid;
      width: 96%;
      margin: 0 auto;
      gap: 1.8rem;
      grid-template-columns: 12rem auto 23rem;

  }

  aside {
      height: 100vh;
  }

  aside .toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.4rem;
  }

  aside .toggle .logo {
      display: flex;
      gap: 0.5rem;
      align-items: center;

  }

  aside .toggle .logo img {
      width: 3rem;
      height: 3rem;
  }

  aside .toggle .close {
      padding-right: 1rem;
      display: none;
  }

  aside .sidebar {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white);
      box-shadow: var(--box-shadow);
      border-radius: 15px;
      height: 88vh;
      position: relative;
      top: 1.5rem;
      transition: all 0.3s ease;
  }

  aside .sidebar:hover {
      box-shadow: none;
  }

  aside .sidebar a {
      display: flex;
      align-items: center;
      color: var(--color-info-dark);
      height: 3.7rem;
      position: relative;
      margin-left: 2rem;
      gap: 0.5rem;
      transition: all 0.3s ease;
  }

  aside .sidebar a span {
      font-size: 1.6rem;
      transition: all 0.3s ease;
  }

  aside .sidebar a:last-child {
      position: absolute;
      bottom: 2rem;
      width: 100%;
  }


  aside .sidebar a:hover span{
    margin-left: 0.6rem;
  }
  
  main{
    margin-top: 1.4rem;

  }
  main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
  }
  main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
  }
main .analyse > div:hover{
    box-shadow: none;
}
main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .analyse h3{
    font-size: 1rem;
    margin-left: 0.6rem;
    
}
main .analyse .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .analyse svg{
    width: 7rem;
    height: 7rem;
}
main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}
main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
} 
main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progress .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}